/*place global styles here */
html,
body {
	@apply h-full;
	/* font-family: 'Raleway', sans-serif;
	font-weight: 200; */
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}
